# This file defines the persons that will be assigned as reviewers for PRs that
# modify a particular file in the repo. Please note it is just a convention
# for the GitHub interface, and any member of the AER team can (and should!)
# review as well.

# Real code owners.
#* @jaygambetta @chriseclectic

# Generic rule for the repository. This pattern is actually the one that will
# apply unless specialized by a later rule
* @chriseclectic @vvilpas

# Individual folders on root directory
/qiskit         @chriseclectic @vvilpas @mtreinish
/test           @chriseclectic @vvilpas @mtreinish
/doc            @chriseclectic @vvilpas @mtreinish
/releasenotes   @chriseclectic @vvilpas @mtreinish
/cmake          @vvilpas
/contrib        @chriseclectic @vvilpas @hhorii
/src            @chriseclectic @vvilpas @hhorii
