@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto-Regular.eot');
    src: url('font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto/Roboto-Regular.woff') format('woff'),
         url('font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}