# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - master
      - stable/*
  tags:
    include:
      - '*'
pr:
  autoCancel: true
  branches:
    include:
    - '*'
stages:
  - stage: 'Wheel_Builds'
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags')
    jobs:
    - job: 'Windows_Wheel_Builds'
      pool: {vmImage: 'vs2017-win2016'}
      condition: startsWith(variables['Build.SourceBranch'], 'refs/tags')
      variables:
        TWINE_USERNAME: qiskit
      steps:
        - checkout: self
          submodules: true
        - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
          displayName: Add conda to PATH
        - bash: |
            set -x
            set -e
            for version in 3.6 3.7 3.8 ; do
                conda create --yes --quiet --name qiskit-aer-$version python=$version
            done
          displayName: Create Anaconda environments
        - bash: |
            set -x
            set -e
            mkdir wheelhouse
            for version in 3.6 3.7 3.8 ; do
                source activate qiskit-aer-$version
                conda update --yes -n base conda
                conda config --add channels conda-forge
                conda install --yes --quiet --name qiskit-aer-$version python=$version numpy cmake pip setuptools pybind11 cython scipy
                python setup.py bdist_wheel -- -G "Visual Studio 15 2017 Win64"
                conda create --yes --quiet python=$version --name test-$version
                source activate test-$version
                pip install -c constraints.txt dist/*whl
                python tools/verify_wheels.py
                mv dist/*whl wheelhouse/.
                rm -rf test-$version
                rm -rf _skbuild
                rm -rf .eggs
                rm -rf qiskit_aer.egg-info
                rm -rf contrib/standalone/version.hpp
            done

          displayName: Build wheels
        - task: PublishBuildArtifacts@1
          inputs: {pathtoPublish: 'wheelhouse'}
          condition: succeededOrFailed()
        - bash: |
            pip install -U twine
            twine upload wheelhouse/*
          env:
            TWINE_PASSWORD: $(TWINE_PASSWORD)
    - job: 'Windows_win32_Wheel_Builds'
      pool: {vmImage: 'vs2017-win2016'}
      condition: startsWith(variables['Build.SourceBranch'], 'refs/tags')
      variables:
        TWINE_USERNAME: qiskit
      steps:
        - checkout: self
          submodules: true
        - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
          displayName: Add conda to PATH
        - bash: |
            set -x
            set -e
            conda update --yes -n base conda
            conda config --add channels conda-forge
          displayName: Update Conda
        - bash: |
            set -x
            set -e
            for version in 3.6 3.7 3.8 ; do
                conda create --yes --quiet --name qiskit-aer-$version python=$version
            done
          displayName: Create Anaconda environments
          env:
            CONDA_FORCE_32BIT: 1
        - bash: |
            set -x
            set -e
            mkdir wheelhouse
            for version in 3.6 3.7 3.8 ; do
                source activate qiskit-aer-$version
                conda install --yes --quiet --name qiskit-aer-$version python=$version numpy cmake pip setuptools pybind11 cython scipy
                python -m pip install -U setuptools wheel
                python setup.py bdist_wheel -- -G "Visual Studio 15 2017"
                conda create --yes --quiet python=$version --name test-$version
                source activate test-$version
                pip install -c constraints.txt dist/*whl
                python tools/verify_wheels.py
                mv dist/*whl wheelhouse/.
                rm -rf test-$version
                rm -rf _skbuild
                rm -rf .eggs
                rm -rf qiskit_aer.egg-info
                rm -rf contrib/standalone/version.hpp
            done
          displayName: Build wheels
          env:
            CONDA_FORCE_32BIT: 1
        - task: PublishBuildArtifacts@1
          inputs: {pathtoPublish: 'wheelhouse'}
          condition: succeededOrFailed()
        - bash: |
            pip install -U twine
            twine upload wheelhouse/*
          env:
            TWINE_PASSWORD: $(TWINE_PASSWORD)


  - stage: 'Compile'
    dependsOn: []
    jobs:
      - job: 'Windows_Wheel_Builds'
        pool: {vmImage: 'vs2017-win2016'}
        strategy:
          maxParallel: 2
          matrix:
            Python36:
              python.version: '3.6'
            Python37:
              python.version: '3.7'
            Python38:
              python.version: '3.8'
        variables:
          PIP_CACHE_DIR: $(Pipeline.Workspace)/.pip
        steps:
          - checkout: self
            submodules: true
          - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
            displayName: Add conda to PATH
          - bash: |
              set -x
              set -e
              conda create --yes --quiet --name qiskit-aer python=$(python.version)
              source activate qiskit-aer
              conda update --yes -n base conda
              conda config --add channels conda-forge
              conda install --yes --quiet --name qiskit-aer python=$(python.version) numpy cmake pip setuptools pybind11 cython scipy
            displayName: Create Anaconda environments
          - bash: |
              set -x
              set -e
              source activate qiskit-aer
              python setup.py bdist_wheel -- -G "Visual Studio 15 2017 Win64"
            displayName: Build wheels
          - bash: |
              set -x
              set -e
              conda create --yes --quiet --name test-wheel python=$(python.version)
              source activate test-wheel
              pip install -c constraints.txt dist/*whl
              pip install -c constraints.txt git+https://github.com/Qiskit/qiskit-terra
              python tools/verify_wheels.py
            displayName: Verify wheels
      - job: 'Windows_win32_Wheel_Builds'
        pool: {vmImage: 'vs2017-win2016'}
        strategy:
          matrix:
            Python37:
              python.version: '3.7'
        variables:
          PIP_CACHE_DIR: $(Pipeline.Workspace)/.pip
        steps:
          - checkout: self
            submodules: true
          - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
            displayName: Add conda to PATH
          - bash: |
              set -x
              set -e
              conda update --yes -n base conda
              conda config --add channels conda-forge
            displayName: Update Conda
          - bash: |
              set -x
              set -e
              conda create --yes --quiet --name qiskit-aer python=$(python.version)
              source activate qiskit-aer
              conda install --yes --quiet --name qiskit-aer python=$(python.version) numpy cmake pip setuptools pybind11 cython scipy
            displayName: Create Anaconda environments
            env:
              CONDA_FORCE_32BIT: 1
          - bash: |
              set -x
              set -e
              source activate qiskit-aer
              pip install -U setuptools wheel
              python setup.py bdist_wheel -- -G "Visual Studio 15 2017"
            displayName: Build wheels
            env:
              CONDA_FORCE_32BIT: 1
          - bash: |
              set -x
              set -e
              conda create --yes --quiet --name test-wheel python=$(python.version)
              source activate test-wheel
              pip install -c constraints.txt dist/*whl
              pip install -c constraints.txt git+https://github.com/Qiskit/qiskit-terra
              python tools/verify_wheels.py
            displayName: Verify wheels
            env:
              CONDA_FORCE_32BIT: 1

      - job: 'Windows_sdist_Builds'
        pool: {vmImage: 'vs2017-win2016'}
        strategy:
          maxParallel: 1
          matrix:
            Python37:
              python.version: '3.7'
            Python38:
              python.version: '3.8'
        variables:
          PIP_CACHE_DIR: $(Pipeline.Workspace)/.pip
        steps:
          - checkout: self
            submodules: true
          - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
            displayName: Add conda to PATH
          - bash: |
              set -x
              set -e
              conda create --yes --quiet --name qiskit-aer python=$(python.version)
              source activate qiskit-aer
              conda update --yes -n base conda
              conda config --add channels conda-forge
              conda install --yes --quiet --name qiskit-aer python=$(python.version) numpy cmake pip setuptools pybind11 cython scipy
            displayName: Create Anaconda environments
          - bash: |
              set -x
              set -e
              source activate qiskit-aer
              python setup.py sdist -- -G "Visual Studio 15 2017 Win64"
            displayName: Build sdist
          - bash: |
              set -x
              set -e
              source activate qiskit-aer
              pip install -U setuptools wheel
              pip install dist/*tar.gz
              pip install git+https://github.com/Qiskit/qiskit-terra
              python tools/verify_wheels.py
            env:
              CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
            displayName: Install from sdist and verify
