pylint==2.4.4
astroid==2.3.3
six>1.10,<=1.14
numpy>=1.16.3,<1.25
scipy>=1.0
# stevedore, used by Terra currently (as of 3.4.0) issues deprecation warnings
# with modern importlib-metadata (4.8.1). importlib-metadata is only needed on
# Python <3.8.
importlib-metadata==4.6.4

# Jinja2 3.1.0 is incompatible with sphinx and/or jupyter until they are updated
# to work with the new jinja version (the jinja maintainers aren't going to
# fix things) pin to the previous working version.
jinja2==3.0.3
