include MANIFEST.in
include README.md
include pyproject.toml
recursive-include qiskit *.pxd
graft src
graft contrib
graft qiskit/providers/aer/backends/wrappers
include qiskit/providers/aer/VERSION.txt
include qiskit/providers/aer/library/instructions_table.csv
include CMakeLists.txt
include cmake/*.cmake
# Exclude static libraries (they are all compressed with 7z)
exclude src/third-party/*/lib/*.a
exclude src/third-party/*/lib/*.lib
