[build-system]
requires = [
  "setuptools",
  "wheel",
  "urllib3<1.26",
  "conan>=1.22.2"
  "scikit-build",
  "cmake!=3.17.1,!=3.17.0",
  "ninja",
  'Cython>=0.27.1',
  "pybind11>2.4",
  "oldest-supported-numpy; python_version>'3.7' or platform_machine=='aarch64' or platform_python_implementation=='PyPy'",
  "numpy==1.16.3; python_version<='3.7' and platform_machine!='aarch64' or platform_python_implementation=='PyPy'",
]
build-backend = "setuptools.build_meta"
