cmake!=3.17.1,!=3.17.0
conan>=1.22.2
scikit-build
cython
asv
cvxpy>=1.0.0,!=1.0.26
pylint
pycodestyle
Sphinx>=1.8.3
sphinx-rtd-theme>=0.4.0
sphinx-tabs>=1.1.11
sphinx-automodapi
jupyter-sphinx;python_version<'3.8'
stestr>=2.5.0
reno>=2.11.0
