stestr>=2.5.0
cmake!=3.17.1,!=3.17.0
conan<2.0.0
scikit-build>=0.11.0
asv
cvxpy>=1.0.0,<1.1.15;platform_system != 'Windows' and python_version < '3.11'
pylint
black[jupyter]~=24.1
clang-format~=15.0.7
Sphinx>=1.8.3
jupyter-sphinx
reno>=3.4.0
ddt>=1.2.0,!=1.4.0
matplotlib>=3.3
seaborn>=0.9.0
qiskit_sphinx_theme~=1.16.0
sphinx-design>=0.2.0
nbsphinx
qiskit_qasm3_import
