# Qiskit dep has been removed because we want to test against master Qiskit Terra branch
cmake
scikit-build
cython
asv
cvxopt
pylint
pycodestyle
Sphinx>=1.8.3
sphinx-rtd-theme>=0.4.0
sphinx-tabs>=1.1.11 
sphinx-automodapi